@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@import "./breakpoints.scss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

#app {
  font-family: Rubik, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #f6f6f6;
  height: 100%;
}

// Custom Classes
.justify_align-content-center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;

  .signin {
    color: red;
  }
}

.sign-up-btn {
  color: #0b132a;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid transparent;

  &:hover {
    color: #f53855;
    border-radius: 50px;
    border: 1px solid #f53855;
    cursor: pointer;
  }
}

.nav-menu {
  padding: 10px;

  a {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 0 20px;
    text-decoration-line: none;

    &.router-link-exact-active {
      color: #4f5665;
    }
  }
}
